NODE_ENV="development"
INSTANCE_DOMAIN=api.topia.io
INTERACTIVE_KEY=your_interactive_key
INTERACTIVE_SECRET=your_interactive_secret
S3_BUCKET=topia-dev-test
DEFAULT_THEME="CHALK"
GOOGLESHEETS_CLIENT_EMAIL=your_google_service_account_email
GOOGLESHEETS_SHEET_ID=your_google_sheet_id
GOOGLESHEETS_PRIVATE_KEY=your_google_private_key
SCENE_ID_GRATITUDE=your_scene_id
DROPPABLE_ASSETS_GRATITUDE=[{"name":"Asset 1","layer0":"https://example.com/image.png"}]
SCENE_ID_FRIENDSHIP=your_scene_id
DROPPABLE_ASSETS_FRIENDSHIP=[{"name":"Asset 1","layer0":"https://example.com/image.png"}]
SCENE_ID_BULLETIN=your_scene_id
DROPPABLE_ASSETS_BULLETIN=[{"name":"Asset 1","layer0":"https://example.com/image.png"}]
SCENE_ID_BULLETIN_SKETCH=your_scene_id
DROPPABLE_ASSETS_BULLETIN_SKETCH=[{"name":"Asset 1","layer0":"https://example.com/image.png"}]
SCENE_ID_CHALK=your_scene_id
ANCHOR_ASSET_IMAGE_CHALK=https://example.com/chalk-anchor.png
SCENE_ID_HARVEST=your_scene_id
ANCHOR_ASSET_IMAGE_HARVEST=https://example.com/harvest-anchor.png
SCENE_ID_ART=your_scene_id
ANCHOR_ASSET_IMAGE_ART=https://example.com/art-anchor.png
SCENE_ID_CAR=your_scene_id
ANCHOR_ASSET_IMAGE_CAR=https://example.com/car-anchor.png
